#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer { // Layer 0
            display-name = "Base";  
            bindings = <
            &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp ESC                &kp K_PWR &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS 
            &kp TAB &kp Q &kp W &kp E &kp R &kp T &mo 3                         &mo 3 &kp Y &kp U &kp I &kp O &kp P &kp BSLH 
            &kp CAPS &kp A &kp S &kp D &kp F &kp G &mo 2                        &mo 2 &kp H &kp J &kp K &kp L &kp SEMI &kp SQT 
            &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp C_PP                   &kp SPACE &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT 
            &kp C_PP &kp PLUS                                                   &kp LBKT &kp RBKT 
            &mo 1 &kp SPACE &kp BSPC &kp LALT &kp LCTRL &kp LGUI                &kp ENTER &kp SPACE &mo 1 &kp DEL &kp RCTRL &kp RALT
            >;
            sensor-bindings = <
            &inc_dec_kp C_VOL_UP C_VOL_DN 
            &inc_dec_kp PG_UP PG_DN
            >;
        };
       fnnav { // Layer 1
            display-name = "Func/Nav";
            bindings = <
            &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &none                     &none &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 
            &none &none &none &kp PG_UP &kp HOME &none &mo 3                    &mo 3 &none &none &none &none &none &none 
            &none &none &none &kp PG_DN &kp END &none &mo 2                     &mo 2 &none &kp LEFT &kp UP &kp RIGHT &none &none 
            &none &none &none &none &none &none &kp C_PP                        &none &none &none &kp DOWN &none &none &none 
            &kp LC(LG(LEFT)) &kp LC(LG(RIGHT))                                  &none &none 
            &mo 1 &kp SPACE &kp BSPC &kp LALT &kp LCTRL &kp LGUI                &kp ENTER &kp SPACE &mo 1 &kp DEL &kp RCTRL &kp RALT
            >;
            sensor-bindings = <
            &inc_dec_kp C_VOL_UP C_VOL_DN 
            &inc_dec_kp PG_UP PG_DN
            >;
        };
        math { // Layer 2
            display-name = "Math";
            bindings = <
            &none &none &none &none &none &none &none                           &none &none &none &none &none &kp FSLH &none 
            &none &none &none &none &none &none &mo 3                           &mo 3 &none &kp N7 &kp N8 &kp N9 &kp ASTRK &none 
            &none &none &none &none &none &none &mo 2                           &mo 2 &none &kp N4 &kp N5 &kp N6 &kp MINUS &none 
            &none &none &none &none &none &none &kp C_PP                        &none &none &kp N1 &kp N2 &kp N3 &kp PLUS &none 
            &none &none                                                         &kp N0 &none 
            &mo 1 &kp SPACE &kp BSPC &kp LALT &kp LCTRL &kp LGUI                &kp ENTER &kp SPACE &mo 1 &kp DEL &kp RCTRL &kp RALT
            >;
            sensor-bindings = <
            &inc_dec_kp C_VOL_UP C_VOL_DN 
            &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };
    };
};
